
.list-rooms {
     background-color: #f0f0f0; /* Un color de fondo suave */
     padding: 20px; /* Añade algo de padding alrededor de la lista de salas */
}

.card-container {
  display: grid; /* Usa grid en lugar de flex para un mejor control del diseño */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Crea tantas columnas como sea posible con un mínimo de 250px cada una */
  gap: 20px; /* Añade un espacio entre las tarjetas */
  justify-items: center; /* Centra las tarjetas en sus celdas */
}

app-room-card {
  max-width: 300px; /* Limita el ancho máximo de las tarjetas */
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2); /* Añade una sombra suave a las tarjetas para darles profundidad */
}
