@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:host {
  font-family: 'Montserrat', sans-serif !important;
}

.example-card {
  width: 70%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.avatar-config {
  background-size: cover;
  height: 100px;
  width: 100px ;
  border-radius: 50% ;
}

.card-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card-header div {
  margin-left: 10px;
}

.button-1 {
  background: linear-gradient(180deg, rgba(25,69,107,1) 0%, rgba(49,135,209,1) 100%) !important;
  color: white !important;
  bottom: 80px;
}
.button-2 {
  background: linear-gradient(180deg, rgba(121,0,0,1) 0%, rgba(255,50,50,1) 100%) !important;
  color: white !important;
  margin: 3px 0;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;

}
mat-card-title, mat-card-subtitle{
 font-size: 24px;
  font-family: 'Montserrat', sans-serif !important;
}

mat-card-subtitle {
  font-size: 32px;
  margin: 10px 0 20px 0;
  color: #19456B !important;
}

mat-grid-list {
  width: 100%;
  margin: 0 auto;
}

mat-grid-tile {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 10px;
}

p, mat-form-field {
  display: block;
  margin-bottom: 10px;
  color: #19456B !important;
}
hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

label {
  display: block;
  margin: 10px 0;

}
.separation-line {
  border: none;
  border-top: 1px solid #000;
  margin: 0;
}
.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .example-card {
    width: 100%;
  }

  mat-grid-list {
    width: 100%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .example-card {
    width: 80%;
  }

  mat-grid-list {
    width: 80%;
  }
}

@media only screen and (min-width: 1025px) {
  .example-card {
    width: 70%;
  }

  mat-grid-list {
    width: 70%;
  }
}
