
<div class="container-view-progress"></div>
<div class="container-myprogress">
  <h1>Mi progreso</h1>
  <h3>Eficiencia 40%</h3>
  <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
  <div class="container-mygames">
      <div class="game">
        <h3>FracPizza</h3>
        <img class="uno" src="assets/game-screen3.png" alt="fracpizza game"
             style="width: 200px; height: 180px" (click)="redirectToMathGamePizza()">
        <h4>3 partidas</h4>
        <h4>Record: 2 victorias</h4>
      </div>
      <div class="game">
        <h3>Calculo Mental</h3>
        <img class="dos" src="assets/game-screen2.png" alt="Calculo mental game"
             style="width: 200px; height: 180px" (click)="redirectToMathCalculoMental()">
        <h4>3 partidas</h4>
        <h4>Record: 2 victorias</h4>
      </div>
      <div class="game">
        <h3>Versusmatic</h3>
        <img class="tres" src="assets/game-screen1.png" alt="versusmatic game"
             style="width: 200px; height: 180px" (click)="redirectToMathVersusmatic()">
        <h4>3 partidas</h4>
        <h4>Record: 2 victorias</h4>
      </div>
  </div>

</div>
