<div class="container-games">
      <div class="game">
        <img class="uno" src="assets/game-screen3.png" alt="fracpizza game"
             style="width: 200px; height: 180px" (click)="redirectToMathGamePizza()">
        <div class="game-info1">
          <h3>FracPizza</h3>
          <div class="game-tags">
            <button mat-raised-button color="primary" class="subject-btn1" (click)="redirectToSubjects()">Fracciones</button>
            <button mat-raised-button color="primary" class="type-btn1" (click)="redirectToType()">Gratuito</button>
            <button mat-raised-button color="primary" class="mode-btn1" (click)="redirectToMode()">Monojugador</button>
          </div>
        </div>
      </div>

    <div class="game">
      <img class="dos" src="assets/game-screen2.png" alt="Calculo mental game"
         style="width: 200px; height: 180px" (click)="redirectToMathCalculoMental()">
      <div class="game-info2">
        <h3>Calculo Mental</h3>
      <div class="game-tags">
        <button mat-raised-button color="primary" class="subject-btn2" (click)="redirectToSubjects()">Cálculo</button>
        <button mat-raised-button color="primary" class="type-btn2" (click)="redirectToType()">Gratuito</button>
        <button mat-raised-button color="primary" class="mode-btn2" (click)="redirectToMode()">Monojugador</button>
      </div>
    </div>

  </div>
  <div class="game">
    <img class="tres" src="assets/game-screen1.png" alt="versusmatic game"
         style="width: 200px; height: 180px" (click)="redirectToMathVersusmatic()">
    <div class="game-info3">
      <h3>Versusmatic</h3>
      <div class="game-tags">
        <button mat-raised-button color="primary" class="subject-btn3" (click)="redirectToSubjects()">Ecuaciones</button>
        <button mat-raised-button color="primary" class="type-btn3" (click)="redirectToType()">Premium</button>
        <button mat-raised-button color="primary" class="mode-btn3" (click)="redirectToMode()">Multijugador</button>
      </div>
    </div>
</div>

</div>
