<div class="rounded-box">
  <div class="left-side">
    <img src="assets/signin-image-1.png" alt="loginimage" width="546px" height="484px">
  </div>
  <div class="right-side">
    <div class="form-container">
      <img src="assets/logoApp.png" alt="logoapp" width="200px" height="176px">

      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="userData.username">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Correo</mat-label>
        <input matInput [(ngModel)]="userData.email">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" [(ngModel)]="userData.password">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Elige tu rol</mat-label>
        <mat-select>
          @for (rol of rols; track rol) {
            <mat-option [value]="rol.value">{{rol.viewValue}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <button mat-raised-button class="register" (click)="registerUser()">Registrarse</button>
      <a class="have-account" (click)="redirectToLogin()">Ya tengo cuenta</a>
    </div>
  </div>
</div>
