<div class="rounded-box">
  <div class="left-side">
    <img src="assets/login-image-1.png" alt="loginimage" width="300px">
  </div>
  <div class="right-side">
    <div class="form-container">
      <img src="assets/logoApp.png" alt="logoapp" width="100px">

      <mat-form-field>
        <mat-label>Correo</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input matInput>
      </mat-form-field>
      <button  mat-raised-button class="login-button">Iniciar sesión</button>
      <p class="forgot-password" >¿Olvidaste tu contraseña?</p>
      <p class="create-account" (click)="redirectToSignin()">Crear cuenta</p>
    </div>
  </div>
</div>
