.rounded-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 20px;
  width: 850px;
  height: 450px;
  background: #c8c8c8;
}

.left-side, .right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-side img {
  max-width: 100%;
  height: auto;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-container mat-form-field {
  margin: 10px 0;
}
.forgot-password {
  margin-top:10px;
}
.create-account {
  color: #00BFFF;
}
