.section-game {
  position: relative; /* Permite posicionar los botones de navegación de forma absoluta */
}


.items-container {
  display: flex;
  transition: margin-left 0.5s;
}

.game{
  font-size: 48px;
  font-family: 'Alfa Slab One', cursive;
  margin-top: 40px;
  margin-left: 30%;
  margin-bottom: 40px;
}
.item {
  flex: 0 0 auto;
  width: 290px; /* Ancho de cada elemento, ajusta según necesites */
  height: 416px; /* Altura de cada elemento, ajusta según necesites */
  margin: 5px 5px 30px 5px;
  background-color: #ffffff; /* Color de fondo de los elementos */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 40px;
  bottom:40%;
}
.prev-btn {

  left: 25%; /* Ajusta la posición horizontal del botón "Anterior" según sea necesario */
}

.next-btn {
  right: 25%; /* Ajusta la posición horizontal del botón "Siguiente" según sea necesario */
}

.container-premium{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: linear-gradient(to bottom, #19456B 0%, #1B4972 50%, #3187D1 100%);
  padding: 50px;
}

.container-premium h1{
  font-family: 'Alfa Slab One', cursive;
  font-size: 2.5rem;
  color: white;
  line-height: 55px;
}

.premium-btn {
  font-family: "Averia Serif Libre", serif;
  background: linear-gradient(to bottom, #FFB546 0%, #FFB546 50%, #FFD494 100%);
  font-size: 1.2rem;
  color: white;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 20px;
  font-weight: bold;
  padding: 20px 20px;
}
/* Estilo para el texto debajo de la imagen */
p {
  width: 10px; /* Ajusta el ancho al 100% de la tarjeta */
  height: 3%; /* Ajusta la altura al 25% de la tarjeta */
  font-size: 0.8em;
  text-align: center;
  justify-content: center;
  align-items: center;
}
img {
  width: 10px; /* Ajusta el ancho al 100% de la tarjeta */
  height: 5px; /* Ajusta la altura al 30% de la tarjeta */
}
mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 110px;
}
.game_title{
  font-size: 1.5em; /* Ajusta el tamaño de la fuente de los títulos en las cajas redondeadas */
  margin-top: 20px;
  font-family: Bitter, sans-serif;
  font-weight: bold;
}
.rounded-box {
  width: 110%; /* Ajusta el ancho al 100% de la tarjeta */
  height: 7%; /* Ajusta la altura al 25% de la tarjeta */
  border: 1px solid #000; /* Color del borde */
  border-radius: 10px; /* Radio del borde para hacerlo redondeado */
  padding: 1px;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(22,199,154,1) 0%, rgba(62,233,190,1) 100%);
}

.rounded-box h3 {
  font-size: 0.5em; /* Ajusta el tamaño de la fuente de los títulos en las cajas redondeadas */
  margin-top: 20px;
}

.container-cta{
  padding-right: 60px;
}

.container-progress{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 50px;
}

.container-progress h1{
  font-family: 'Alfa Slab One', cursive;
  font-size: 2.5rem;
  color: #19456C;
  line-height: 55px;
}

.redirect-view-progress{
  text-align: center;
  font-size: 1.2rem;
  color: white;
  border: none;
  margin-top: 20px;
  margin-left: 20px;
  font-weight: bold;
  padding: 50px;
}

.progress-btn{
  font-family: "Averia Serif Libre", serif;
  background: linear-gradient(to bottom, #16C79A 0%, #3EE9BE 50%, #3EE9BE 100%);
  font-size: 1.2rem;
  color: white;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 20px;
  font-weight: bold;
  padding: 20px 20px;
}

* {
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
  --contrast: 4;
  --blur: 4px;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: #090909;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  margin: 0;

  timeline-scope: --myScroller;
  view-timeline-axis: x;
}

#app {
  display: grid;
  place-items: center;
  height: 10vh;
}

ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding: 0;
  margin: 0;
  width: 90vw;
  height: 10px;
  place-items: center;

  scroll-snap-type: x mandatory;
  scroll-timeline-name: --myScroller;
  scroll-timeline-axis: x;
}

li {
  flex: 1 0 15cqw;
  view-timeline: --cover;
  view-timeline-axis: inline;

  animation: z both linear;
  animation-timeline: --cover;
  animation-range: cover;
}

li:not([aria-hidden]) {
  scroll-snap-align: center;
}

li img {
  border-radius: 13px;
  width: 30px;
  height: 6px;
  object-fit: cover;
  background: hsl(10 80% 80%);
  /*-webkit-box-reflect: below 1px linear-gradient(to bottom, transparent, hsl(0 0% 100% / 0.3));
*/
  animation: cover-flow both linear;
  animation-timeline: --cover;
  animation-range: cover;
}

.image-wrapper {
  height: 10px;
  width: 20px;
  position: relative;
  transform-style: preserve-3d;
  perspective: 10vmin;

  animation: shrink both linear;
  animation-timeline: --cover;
  animation-range: cover;
}

@keyframes z {
  0% {
    z-index: 0;
  }
  50% {
    z-index: 4;
  }
}

@keyframes shrink {
  0% {
    scale: 0.55;
    opacity: 0;
    transform-origin: -150% 50%;
  }
  5% {
    opacity: 1;
  }
  10% {
    opacity: 1;
    scale: 1;
    transform-origin: 50% 50%;
  }
  40% {
    scale: 1;
    opacity: 1;
    transform: translate3d(0, 0, 0vmin);
  }
  50% {
    opacity: 1;
    transform: translate3d(0, 0, 15vmin);
  }
  60% {
    scale: 1;
    opacity: 1;
    transform: translate3d(0, 0, 0vmin);
  }
  90% {
    opacity: 1;
    transform-origin: 50% 50%;
    scale: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    scale: 0.55;
    opacity: 0;
    transform-origin: 250% 50%;
  }
}

@keyframes cover-flow {
  0% {
    transform: translate(-50%, 0) rotateY(-33deg);
  }
  20% {
    scale: 1;
    transform: translate(0%, 0) rotateY(-33deg);
  }
  40% {
    transform: translate(15%, 0) rotateY(-20deg);
  }
  /* Half way */
  50% {
    scale: 1.5;
    transform: translate(0, 0) rotateY(0deg);
  }
  60% {
    transform: translate(-15%, 0) rotateY(20deg);
  }
  80% {
    scale: 1;
    transform: translate(0%, 0) rotateY(33deg);
  }
  100% {
    transform: translate(50%, 0) rotateY(33deg);
  }
}

#info {
  z-index: 4;
  flex-direction: column;
  position: relative;
  left: 100%;
  bottom: 5%;
  height: auto;
  overflow-y: hidden;
}

#name-wrapper {
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease;

  animation: name-translate both linear;
  animation-timeline: --myScroller;
}

.name {
  font-size: 48px;

  animation: blink both linear;
  animation-timeline: --myScroller;
  animation-range: cover;
  transition: background 0.5s ease;
}

@keyframes name-translate {
  from {
    transform: translateY(124px);
  }
  to {
    transform: translateY(-688px);
  }
}

@keyframes blink {
  0%,
  10% {
    filter: blur(var(--blur)) contrast(var(--contrast));
  }

  10%,
  15% {
    filter: blur(0) contrast(1);
  }

  20% {
    filter: blur(var(--blur)) contrast(var(--contrast));
  }

  24%,
  24% {
    filter: blur(0) contrast(1);
  }

  25%,
  27% {
    filter: blur(var(--blur)) contrast(var(--contrast));
  }

  30%,
  34% {
    filter: blur(0) contrast(1);
  }

  35%,
  37% {
    filter: blur(var(--blur)) contrast(var(--contrast));
  }

  40%,
  44% {
    filter: blur(0) contrast(1);
  }

  45%,
  47% {
    filter: blur(var(--blur)) contrast(var(--contrast));
  }

  50%,
  54% {
    filter: blur(0) contrast(1);
  }

  55%,
  56% {
    filter: blur(var(--blur)) contrast(var(--contrast));
  }

  58%,
  64% {
    filter: blur(0) contrast(1);
  }

  64%,
  66% {
    filter: blur(var(--blur)) contrast(var(--contrast));
  }

  67%,
  70%,
  73% {
    filter: blur(0) contrast(1);
  }

  73%,
  73% {
    filter: blur(var(--blur)) contrast(var(--contrast));
  }

  74%,
  82% {
    filter: blur(0) contrast(1);
  }

  83% {
    filter: blur(var(--blur)) contrast(var(--contrast));
  }

  85%,
  93% {
    filter: blur(0) contrast(1);
  }

  93%,
  100% {
    filter: blur(var(--blur)) contrast(var(--contrast));
  }
}

#info li {
  place-items: center;
  display: flex;
  animation: info-opacity both linear;
  animation-timeline: ---cover;
  animation-range: cover;
}

.info-wrapper {
  display: flex;
}

@keyframes info-opacity {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

#cards {
  /*overflow: hidden;
  width: 900px; /* Ancho del carrusel, ajusta según necesites */
  /*margin: auto;
  position: relative;
  */
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  display: flex;
  place-items: center;
  height: 100vh;
}

.card img {
  width: 100%; /* Set the width of the image to 100% of the card */
  height: auto; /* Set the height of the image to auto to maintain aspect ratio */
}
.card {
  width: 25%; /* Adjust the width to make the images smaller */
  height: 50%; /* Adjust the height to make the images smaller */
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollable-element {
  height: 200px; /* Set the height of the element */
  width: 200px; /* Set the width of the element */
  overflow: scroll; /* Enable manual scrolling */
}
