<section class="section-game">
  <h1 class="game">Juegos</h1>
  <div class="carousel">
    <div id="cards"></div>
  </div>
</section>


<section class="section-body">
  <div class="container-premium">
    <div class="container-cta">
      <h1 style="margin-left: 20px">
        ¿Quieres tener todos <br> los juegos disponibles? <br>
      </h1>
      <button mat-raised-button color="primary" class="premium-btn" (click)="redirectToPremium()">Hazte Premium</button>
    </div>
    <img src="assets/login-image-1.png" alt="pic cta premium" style="width: 300px; height: 300px">
  </div>

  <div class="container-progress">
    <img src="assets/pic-cta-progress.jpg" alt="pic cta progress" style="width: 375px; height: 300px">
    <div class="redirect-view-progress">
        <h1>¡Mira cuanto has <br> mejorado desde que <br> llegaste aquí!</h1>
        <button mat-raised-button color="primary" class="progress-btn" (click)="redirectToProgress()">Ver progreso</button>
    </div>
  </div>
</section>


