.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* Añade espacio alrededor de los elementos */
  text-align: center;
  height: 100%;
  padding: 20px; /* Añade padding dentro de la tarjeta */
}
