/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  font-family: Bitter, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, rgba(25,69,107,1) 34%, rgba(62,157,238,1) 96%);
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
