<div class="container-view-progress"></div>
<div class="container-myprogress">
  <p>userRole:{{userRole}}</p>
  <h1 *ngIf="userRole==='student'">Mi progreso</h1>
  <h1 *ngIf="userRole==='teacher'">Mis clases</h1>
  <h3 *ngIf="userRole==='student'">Eficiencia 40%</h3>
  <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
  <div class="container-mygames" *ngIf="userRole==='student'">
    <div class="game">
      <h3>FracPizza</h3>
      <img class="uno" src="assets/game-1-original.png" alt="fracpizza game" (click)="redirectToMathGamePizza()">
      <h4>3 partidas</h4>
      <h4>Record: 2 victorias</h4>
    </div>
    <div class="game">
      <h3>Calculo Mental</h3>
      <img class="dos" src="assets/game-2-oficial.png" alt="Calculo mental game" (click)="redirectToMathCalculoMental()">
      <h4>3 partidas</h4>
      <h4>Record: 2 victorias</h4>
    </div>
    <div class="game">
      <h3>Versusmatic</h3>
      <img class="tres" src="assets/game-screen1.png" alt="versusmatic game" (click)="redirectToMathVersusmatic()">
      <h4>3 partidas</h4>
      <h4>Record: 2 victorias</h4>
    </div>
  </div>
</div>
