.container-myprogress {
  padding: 80px;
}

.container-mygames {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
h1 {
  display: inline-block;
  font-family: 'Alfa Slab One', cursive;
  font-size: 40px;
  padding-bottom: 10px;
  background: -webkit-linear-gradient(0deg, #19466C, #07817E, #3EE9BE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3
{
  font-size: 24px;
  padding: 10px;
  margin-bottom: 1vh;
}

.game {
  flex: 1 1 calc(33% - 20px);
  box-sizing: border-box;
  margin: 10px;
  text-align: center;
}

.game img {
  width: 100%;
  height: auto;
  max-width: 200px;
  max-height: 180px;
}

@media (max-width: 768px) {
  .game {
    flex: 1 1 calc(50% - 20px);
  }
  h3
  {
    font-size: 20px;
    padding: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 480px) {
  .game {
    flex: 1 1 100%;
  }
  h3
  {
    font-size: 20px;
  }
}
