<footer>
  <div class="footer-container">
    <div class="footer-column">
      <img src="assets/logoApp.png" alt="Imagen" width="100px">
    </div>
    <div class="footer-column">
      <p class="bold-text">Blog</p>
      <p>Noticias</p>
      <p>Clientes</p>
    </div>
    <div class="footer-column">
      <p class="bold-text">Comunidad</p>
      <p>Foros</p>
      <p>Patrocinadores</p>
    </div>
    <div class="footer-column">
      <p class="bold-text">Compañía</p>
      <p>Nosotros</p>
      <p>Contacto</p>
      <p>Historia</p>
    </div>
  </div>
  <hr>
  <div class="copyright">
    <p>© 2024 2SquareD</p>
  </div>
</footer>
