<footer>
  <div class="footer-container">
    <div class="footer-column">
      <img src="assets/logoApp.png" alt="Imagen" width="100px">
    </div>
    <div class="footer-column">
      <p class="bold-text">Blog</p>
      <p class ="link">Noticias</p>
      <p class ="link">Clientes</p>
    </div>
    <div class="footer-column">
      <p class="bold-text">Comunidad</p>
      <p class ="link">Foros</p>
      <p class ="link">Patrocinadores</p>
    </div>
    <div class="footer-column">
      <p class="bold-text">Compañía</p>
      <p class ="link">Nosotros</p>
      <p class ="link">Contacto</p>
      <p class ="link">Historia</p>
    </div>
  </div>
  <hr>
  <div class="copyright">
    <p>© 2024 2SquareD All rights reserved.</p>
  </div>
</footer>
