<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar toolbar-home">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav class="sidenav-container" #snav>
      <div class="side-profile">
        <img class="side-img" src="assets/man-photo-profile.png" alt="sidebar profile">
        <div class="side-user-info">
          <span class="side-user-title">User</span>
          <span class="side-user-rol">{{userRole}}</span>
        </div>
      </div>

        @for (nav of fillerNav; track nav){
          <a style="color: white" class="item-sidenav" mat-list-item [routerLink]="[nav.path, userId, userRole]">
              @if(nav.icon.type === 'custom'){
                <img [src]="nav.icon.src" alt="{{nav.name}} icon" style="width: 25px; height: 25px; margin-top: 20px; margin-right: 20px">
              }
            {{ nav.name }}
          </a>
        }
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
      <app-the-footer-content></app-the-footer-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
